* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans';
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 280px;
    padding-top: 60px;

}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

ul>li {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.banner {
    margin: 120px 500px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 32px;
}

.btn-primary {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}



.banner-img {
    border-radius: 8px;
    padding-bottom: 45px;
    /* padding-top: -50px; */
}

/* Quick-List styles */

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.quick-list {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 85px;
    margin-left: 300px;
    margin-right: 270px;
}

.detail>h3 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.detail>p {
    margin-bottom: 33px;
}

.span-one {
    color: #727272;
}

.span-two {
    color: #FF900E;
}

/* features styles */

.features-section {
    display: flex;
    gap: 50px;
    margin: 130px 240px;
}

.vertical {
    border-left: 6px solid #FF900E;
    position: absolute;
    width: 5px;
    height: 110px;
    left: 220px;
    top: 2350px;
    border-radius: 2px;
}

.features-title {
    margin-bottom: 25px;
}

.features-description {
    margin-bottom: 30px;
    color: #727272;
}

.feature-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.block {
    width: 500px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.block>h4 {
    margin-bottom: 10px;
}


.btn-container {
    margin-top: -200px;
}

.btn-secondary {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    border: none;
    color: #FFFFFF;


}

.btn-secondary h3 {
    color: #FFFFFF;
}


/* Facts styles */



.section-title {
    margin-top: 130px;
    margin-left: 240px;
}

.section-description {
    margin-top: 24px;
    margin-left: 240px;
    color: #727272;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 125px;
    text-align: center;
    margin-top: 100px;
    margin-left: 290px;
    margin-right: 290px;
}

.box {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;

}

.box img {
    margin-top: 40px;
    margin-bottom: 10px;
}

.box h3 {
    margin-bottom: 5px;
}



.box:hover {
    background-color: rgba(182, 110, 3, 0.905);

}

/* running projects style */

.project-details {
    text-align: center;

}

.project-img {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 20px;


}
.project-details, .section-description{
    margin-right: 200px;
    margin-left: 200px;
}

.about-project{
    margin-top: 40px;
    margin-left: 270px;
    margin-right: 270px;
}


/* Sponsors style  */

.img-container {
    display: flex;
    justify-content: center;
    gap: 155px;
    mix-blend-mode: luminosity;
    margin: 50px 240px 130px 240px;
}

.sponsor-info {
    text-align: center;
    margin-bottom: 50px;
}

/* Footer section */

.footer {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 216px;
    padding: 40px 410px;
}



/* Media Querise */

/* mobile device */

@media screen and (max-width: 576px){

    
    
}